@font-face {
  font-family: 'Moon';
  src: url('/src/assets/MOON 2.0 FREE/Moon2.0-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Moon';
  src: url('/src/assets/MOON 2.0 FREE/Moon2.0-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Moon';
  src: url('/src/assets/MOON 2.0 FREE/Moon2.0-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
